{% extends '::base.html.twig' %}

{% block body %}  
   
    <div class="abm_container">
        
        {% block container %} 
        
            {# include 'NeurologiaGenericosBundle:Default:mensajes.html.twig' #}

        {% endblock container %}
        
    </div>
        
{% endblock %}
