<div>
    {{ form_label(form.descripcion) }}
    {{ form_errors(form.descripcion) }}
    {{ form_widget(form.descripcion, { 'attr' : { 'class': 'form-control' }}) }}
    <span class="help-block">Debe introducir una descripci&oacute;n para el tratamiento que desea agregar.</span>
</div>
