<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Servicio de Neurologia{% endblock %}</title>
        
        {%block javascripts %}            
            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>            
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('public/js/tratamiento_interno.js') }}" type="text/javascript"></script>
        {%endblock javascripts%}

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
            <link href="{{asset('public/css/jquery-ui-1.11.2.custom/jquery-ui.css')}}" rel="stylesheet">
        {%endblock stylesheets%}

        
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block menu %}
        
        {% if is_granted('ROLE_ADMIN')%}

            {% include 'NeurologiaUserBundle:Default:adminMenu.html.twig' %}

        {% elseif is_granted('ROLE_USER') %}

            {% include 'NeurologiaUserBundle:Default:userMenu.html.twig' %}

        {% endif %}
        {% include 'NeurologiaUserBundle:Default:adminMenu.html.twig' %}
    {% endblock %}

    {% block datosPaciente %}
        <h2>template base</h2>
    {% endblock %}

    {% block body %}
        <h2>body desde template base</h2>
    {% endblock %}

</body>
</html>
