{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
	<div align="center" style="text-align:center">
		<h1>Edicion Departamento</h1>

		{{ form(edit_form) }}

		<a style="margin-bottom: 20px;" class="btn btn-primary" href="{{ path('departamento') }}">
			Volver
		</a>
		
		{{ form(delete_form) }}
	</div>
{% endblock %}