{% extends '::base.html.twig' %}
{% block body %}
{{ form_start(motivo) }}
    
    {{ form_row(motivo.detalle, { 'attr': {'class': 'form-control'} }) }}
    
    {{ form_row(motivo.enviar, { 'attr': {'class': 'btn btn-primary'} }) }}   
    
    
{{ form_end(motivo) }}
<button type="submit" class="btn btn-primary" onclick="history.back();" label="VOLVER">Volver</button>
{% endblock %}
