<div class="table-responsive">
	<table class="table">
        {% for m in motivo %}
            <tr>
                <td>{{ m.fecha|date('d/m/Y') }} - {{ m.detalle }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
        {{ form(nuevoMotivo) }}