
    
<h3>Estudios > Listado </h3>
{% if estudios %}
<table class="table table-condensed table-hover">  
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo Estudio</th>
            <th>Cantidad imagenes</th>
            <th>Acciones</th>
        </tr>
    </thead>    
    
{% for estudio in estudios %}
    <tr>
    <td>{{estudio.fecha|date('d-m-Y')}}</td>
    <td>{{estudio.getTipoEstudioSiglas}}</td>
    
    {% if estudio.imagenes %}
    
    <td>{{ estudio.imagenes|length }}</td>
    
    {% endif %}

    <td><a href="{{ url('neurologia_historia_clinica_homepage', {'accion':'estudio_show','id': estudio.id, 'tab':'Estudio'}) }}">Ver</a></td>
    </tr>
{% endfor %}
{% else %}
    No se encontraron estudios para esta paciente.
{% endif %}
</table>
  <a id="" class="button" href='javascript:history.back()'>Volver</a>