{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Paciente</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{% if actual %}{{ path('neurologia_historia_clinica_homepage') }}{% else %}{{ path('neurologia_busqueda_paciente') }}{% endif %}">
            Volver
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
