.bienvenida{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.img_bienvenida{
    margin-left: 85px;
}

.abm_container{
    width: 1000px;
    margin: auto;
    height: auto;
    text-align: center;
    display: block;
}

.datatable_bootstrap{
    overflow: hidden;
}

.panel-title{
    text-align: left;
}

.clase_reset_pass{
    width: 223px;
    height: 170px;
    margin: 7% 0% 0% 40%;
    padding: 15px 20px;
}

.clase_reset_pass input{
    border-radius:4px;
    border: 1px solid #ccc;
}

input{
    border-radius:4px;
    border: 1px solid #ccc;
}

.texto {
    word-wrap: break-word;
    width:100%;   
}

