/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/11/2014, 18:50:15
    Author     : Wodan
*/

.navbar {
    margin-bottom: 0px !important;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.oculto{
    display: none;
}
/*
.contenidoHistoria{
    float: left;
    max-width: 30%;
    margin: 1%;
    border: 1px solid graytext;
    padding: 1%;
    background-color: whitesmoke;
}
.encabezadoHistoria{}
.listadoHistoria{}
.solapaHistoria{
    background-color: whitesmoke;
    /*float: right;*/
    /*margin: auto;
    width: 65%;
    border: 1px solid graytext;
    margin-top: -9px;
}
*/
