{% block menu %}    
    <ul>
        <li><a href="{{ path('neurologia_main_homepage')}}">Inicio</a></li>
        <li><a href="{{ path('neurologia_paciente_agregar')}}">Agregar paciente</a></li>        
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    </ul>
{% endblock %}