<div class="table-responsive">
	<table class="table">
        {% for m in enfermedad %}
            <tr>
                <td>{{ m.fecha|date('Y-m-d') }} - {{ m.detalle }}</td>
            
            </tr>
        {% endfor %}
        </table>
</div>
{{ form(nuevaEnfermedad) }} 