{% extends '::base.html.twig' %}

{% block body %}

<ul class="nav nav-tabs" id='ulTab' onload='funcion()'>
  <li role="presentation" class="active" onclick='activar(this)' id='liTab1'><a href="{{ path('neurologia_tabs_accion', { 'nroTab': 1 } ) }}">Home</a></li>
  <li role="presentation" onclick='activar(this)' id='liTab2'><a href="{{ path('neurologia_tabs_accion', { 'nroTab': 2 } ) }}">Profile</a></li>
  <li role="presentation" onclick='activar(this)' id='liTab3'><a href="{{ path('neurologia_tabs_accion', { 'nroTab': 3 } ) }}">Messages</a></li>
</ul>

{% block tabs %}
	{% render controller("NeurologiaTabsBundle:Default:tab", {'nroTab': 1}) %}
{% endblock %}
{% endblock %}
