 

	{% block container %}  
		{{ include('NeurologiaDiagnosticoBundle:Default:listado.html.twig', {'datos': datos}) }}
		
		
			<a href="{{ path('neurologia_diagnostico_new') }}">Nuevo Diagnostico</a>
		
	{% endblock %}

