.UlMenu  {
	width:100px;
	background-color: gray;
	font-weight: bolder;
	font-style: oblique;
}

.UlMenu  li{
	display:none;
}

.UlMenu:hover li{
	display:block;
	background-color: lightgray;
	font-weight: bolder;
}