   {% if evoluciones is not empty %}
        
    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Descripci&oacute;n</th>
                        <!--<th>Activo</th>
                        <th>Medicamentos</th>
                        <th>Efectos adversos</th>
                        <th>Detalle</th>-->
                    </tr>
                </thead>
                <tbody>
                    
                    {% for e in evoluciones %}
                        <tr>
                            <td>{{ e.fecha_evolucion|date('d-m-Y') }}</td>
                            <td>{{ e.evolucion }}</td>
                            <!--<tr>t.activo</tr>
                            <tr>t.con_medicamentos</tr>
                            <tr>t.con_efectos_adversos</tr>
                            <tr>detalle</tr>-->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        
              
    {% else %}
        
        <label> No existen evoluciones para el paciente seleccionado. </label>
        
    {% endif %}
   
     <a href="{{ path('evolucion_homepage_agregar',{}) }}">
               Generar Nueva Evolución
     </a>