{% extends "::base.html.twig" %}
{% block body %}
    <h3>{{ mensaje }}</h3>
<div>
						<input class="btn btn-primary" style="margin-top:-15px" type="button" onclick=" window.history.back()" value='Volver' />
                    </div>    
{% endblock %}
