{% extends "::base.html.twig" %}
{% block body %}
	 <div class="panel panel-primary" style="margin: auto; margin-top:15px; margin-bottom:15px; width: 650px;">
        <div class="panel-heading">
            <h3 class="panel-title">Resultado Backup</h3>
        </div>
     <div class="panel-body">
		<span>{{ mensaje }}</span>
	</div>
	
	<a class="btn btn-primary" style="margin-top:-15px" href="{{ path('neurologia_main_homepage') }}" >Inicio</a>
    </div>    
{% endblock %}
