{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
	<div align="center" style="text-align:center">
		<h1>Nuevo Tipo de Estudio</h1>

		{{ form(form) }}

		<a class="btn btn-primary" href="{{ path('tipoestudio') }}">
			Volver
		</a>
	</div>
{% endblock %}