
    <h1>Antecedente creation</h1>
{% if mensaje %}
<span class="">{{ mensaje }}</span>
{% endif %}
    {{ form(form) }}

    
        <button type="submit" onclick="history.back();" label="VOLVER">Volver</button>


