{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Nueva obra social</h3>
        </div>
        <div class="panel-body">
            <div align="center" style="text-align:center">
                
                {{ form(form) }}

                <a style="margin-bottom: 20px;" class="btn btn-primary" href="{{ path('obrasocial') }}">Volver</a>

            </div>
        </div>
    </div>    
            
{% endblock %}