{% extends 'NeurologiaGenericosBundle:Default:abm.html.twig' %}

{% block container %}
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Edici&oacute;n de un nivel educacional</h3>
        </div>
        <div class="panel-body">
            <div align="center" style="text-align:center">
                
                {{ form(edit_form) }}

                <a style="margin-bottom: 20px;" class="btn btn-primary" href="{{ path('niveleducacional') }}">Volver</a>

                {{ form(delete_form) }}
                
                <a style="float:right" class="btn btn-primary" href="{{- path('niveleducacional_new') -}}">Nuevo</a>
                
            </div>
        </div>
    </div>
           
{% endblock %}